@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&family=Julee&display=swap');

*{
    padding: 0;
    margin: 0;
}

.game-btns{
    display: grid;
    grid-template-columns: 200px 400px 200px;
    justify-content: center;
    border-top: 10px double #ff0000;
    margin: 7px 0;
}

.g-btn{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: .5px double #000000;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    letter-spacing: 1.8px;
    background-color: transparent;
}

.g-btn:hover{
    background-color: rgb(231, 150, 51);
    color: #000;
    box-shadow: 2px 2px 5px 2px black;
    transition: 1.2s;
}

#g-btn2:hover{
    background-color: red;
    color: #000;
    transition: 1.2s;
}
#g-btn3:hover{
    background: black;
    color: red;
    box-shadow: 2px 2px 5px 2px #ff0000;
}

.input{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    justify-content: space-between;
    /*margin: auto;
    justify-content: center;*/
    margin-top: 8px;
}

.inp{
    padding: 14px;
    margin: 4px;
    font-size: 18px;
    border-radius: 8px;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px 2px #ff0000;
}

.desc{
    background-color: rgb(204, 205, 205);
    padding: 10px;
    width: 100%;
}

.header{
    display: flex;
    width: 100%;
}

.g-rules , .des{
    font-size: 20px;
    font-family: 'Julee', cursive;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
}

.rul{
    margin: 7px;
}

.desA , .g-rulesA{
    font-family: 'Amiri', serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.rula{
    margin: 7px;
}

#label1{
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bolder;
}

#wel{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(204, 205, 205);
    padding: 15px;
    display: none;
}

#outputA , #outputB , #outputC , #outputD{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
    font-family: fantasy;

}

.equ{
    background-color: rgb(204, 205, 205);
    display: grid;
    justify-content: space-between;
    grid-template-columns: 250px 250px 250px 250px;
}

#points{
    text-align: center;
    font-size: 21px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 55, 55);
    margin: 8px 0;
}

#ch{
    display: grid;
    justify-items: center;
}

#g-btn4{
    width: 25%;
    padding: 15px;
    border-radius: 12px;
    background-color: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-transform: uppercase;
}
#g-btn4:hover{
    background-color: rgb(174, 186, 186);
    color: #000;
    box-shadow: 2px 2px 4px 2px #000;
    transition: 1.2s;
}

#checkRes{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
}


@media only screen and (max-width : 1280px) {
    .input{
        grid-template-columns: 250px;
        justify-content: center;
    }
    .inp{
        border: none;
        border-bottom: 3px solid #0c0;
        box-shadow: 2px 2px 5px 2px #000;
    }
    .img{
        background-color: rgb(204, 205, 205);
    }
    .equ{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 250px 250px;
    }
    #outputA , #outputB , #outputC , #outputD{
        padding: 15px;
        text-align: center;
    }
    .game-btns{
        grid-template-columns: 400px;
    }
    #g-btn1{
        transition: .2s;
    }
    
    #g-btn2:hover{
        background-color: red;
        color: #000;
        transition: .2s;
    }
    #g-btn3:hover{
        background: black;
        color: red;
        box-shadow: 2px 2px 5px 2px #ff0000;
        transition: .2s;
    }
}